<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title %}The Playground{% endblock %}

{% block content %}
    <h1>welcome to my playground...</h1>
    <p>Just me experimenting.</p>
    <div class="feature" onclick="location.href='/summarizer';">
        <h2>Summarizer</h2>
        <p>Upload documents and get concise summaries instantly.</p>
    </div>
    <div class="feature" onclick="location.href='/voice-analyzer';">
        <h2>Voice Analyzer</h2>
        <p>Analyze the mood from your voice recordings.</p>
    </div>
    <div class="coming-soon-feature">
        <h2>LinkedIn Scraper</h2>
        <p>Manage your professional network with ease. <strong>Coming Soon!</strong></p>
    </div>
    <div class="footer">
        <p>Designed for creative exploration. By hashemking.</p>
        <p>Support further development:</p>
        <p>Venmo: @hashemabdou</p>
        <a href="https://www.linkedin.com/in/hashemabdou" target="_blank">LinkedIn</a>
    </div>
{% endblock %}
</html>
