<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block title %}TextSummarizer - Output{% endblock %}

{% block content %}
    <a href="/summarizer" class="subtle-button">Upload New File</a>

    <h2>Extracted Text:</h2>
    <textarea rows="10" cols="50" readonly style="width:100%">{{ extracted_text }}</textarea>
    <br>
    <form action="/summarize" method="post">
        <input type="hidden" name="original_text" value="{{ extracted_text }}">
        <button type="submit">Analyze</button>
    </form>
    
    {% if summary %}
    <h2>Summary:</h2>
    <div id="summary">
        {{ summary|safe }} <!-- Use the safe filter to render the <br> tags -->
    </div>
    {% if truncate_message %}
    <p>{{ truncate_message }}</p>
    {% endif %}
    {% endif %}
{% endblock %}
</html>
